@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Dark Mode colors */
  :root {
    --color-text-secondary: rgb(202, 203, 205);
    --color-background: rgb(248, 250, 252);
    --section-heading: rgb(12, 19, 27);
    --color-text: rgba(12, 19, 27, .6);
    --color-placeholder: rgba(11, 19, 27, .3);
    --overlay-background: rgba(12, 19, 27, .1);
    --card-background-color-1: rgb(255, 255, 255);
    --card-background-color-2: rgb(251, 253, 255);
  }

  [data-theme="dark"] {
    --color-text-secondary: rgb(79, 79, 79);
    --color-background: rgb(0, 0, 0);
    --section-heading: rgb(240, 240, 240);
    --color-text: rgba(240, 240, 240, .6);
    --color-placeholder: rgba(240, 240, 240, .3);
    --overlay-background: rgba(240, 240, 240, .1);
    --card-background-color-1: rgba(24, 24, 24, .2);
    --card-background-color-2: rgba(24, 24, 24, .6);
  }

  :root {
    color-scheme: light dark;
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
  }

  [data-theme="dark"] {
    color-scheme: dark;
  }

  h1 {
    @apply text-2xl font-semibold text-section-heading;
  }

  h2 {
    @apply text-[16px] font-bold text-section-heading;
  }

  p {
    @apply text-sm text-text;
  }
}